/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.btn {
  margin-top: 15px;
  width: 100%;
  color: $button-text;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  
  @each $key, $b-color in $button-colors {
    &.#{$key} {
      background-color: $b-color;

      &:hover {
        background-color: lighten($b-color, 15%);
      }
    }
  }
}